<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link href="style.css" rel="stylesheet" type="text/css">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Gallery</title>
</head>

<body>
  <div class="mainFrame">
    <input type="image" name="left button" src="images/left_arrow.png" alt="left" class="leftButton">
    <div class="mainImageFrame" id="13">
    </div>
    <input type="image" name="right button" src="images/right_arrow.png" alt="right" class="rightButton">
  </div>
  <div class="buttons">
    <div class="bottomButton" title="bla bla bla">
      <input type="image" name="Name of image button" src="images/1.jpg" alt="text" class="smallImage">
    </div>
    <div class="bottomButton">
      <input type="image" name="Name of image button" src="images/2.jpg" alt="text" class="smallImage">

    </div>
    <div class="bottomButton">
      <input type="image" name="Name of image button" src="images/3.jpg" alt="text" class="smallImage">

    </div>
    <div class="bottomButton">
      <input type="image" name="Name of image button" src="images/4.jpg" alt="text" class="smallImage">

    </div>
    <div class="bottomButton">
      <input type="image" name="Name of image button" src="images/5.jpg" alt="text" class="smallImage">

    </div>
    <div class="bottomButton">
      <input type="image" name="Name of image button" src="images/6.jpg" alt="text" class="smallImage">

    </div>
    <div class="bottomButton">
      <input type="image" name="Name of image button" src="images/7.jpg" alt="text" class="smallImage">

    </div>
    <div class="bottomButton">
      <input type="image" name="Name of image button" src="images/8.jpg" alt="text" class="smallImage">

    </div>
  </div>
  <script src="/script.js"></script>
</body>

</html>